<div class="text-center">
    <form action="/Account/ExternalLogin" method="post">
        <input type="hidden" name="provider" value="Twitter" />
        <button type="submit" class="btn btn-default">
            <i class="fa fa-twitter fa-5x"></i>
        </button>

    </form>
    <form action="/Account/ExternalLogin" method="post">
        <input type="hidden" name="provider" value="Facebook" />
        <button type="submit" class="btn btn-default">
            <i class="fa fa-facebook fa-5x"></i>
        </button>
    </form>
</div>