.body-content {
    margin-left: 15px;
    margin-right: 15px;
}

.middle-loading-box {
    position: fixed;
   top: 50%;
   left: 50%;
   margin-top:-35px;
   margin-left:-35px;
}


input,
select,
textarea {
    max-width: 280px;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  
  display: block;
  background-image: url('http://wallpapers-best.com/uploads/posts/2015-09/25_white_abstract.jpg');
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.div-in-row{
    display:inline-block;    
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}