<h4>Your site</h4>
<div class="row">
    <div class="col-sm-8">
        <div dnd-droppable (onDropSuccess)="log('to main')" [dropZones]="['demo1']" class="panel panel-default">
            <div class="panel-heading">Your site</div>
            <div class="panel-body">
                <div *ngFor="let el of siteElements" dnd-droppable (onDropSuccess)="log('to second')" dnd-draggable [dragEnabled]="true" [dragData]="el.element" [dropZones]="['demo1']">
                    <DynamicComponent [componentTemplate]="siteElements[0].element" [componentModules]="extraModules">
                    </DynamicComponent>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div class="panel-body">
                <div *ngFor="let el of siteElements" dnd-draggable [dragEnabled]="true" [dragData]="el.element" [dropZones]="['demo1']">
                    <DynamicComponent [componentTemplate]="siteElements[0].element" [componentModules]="extraModules">
                    </DynamicComponent>
                </div>
            </div>
        </div>
    </div>
</div>


