<h4>Your site</h4>
<div class="row">
    <div class="col-sm-9">
        <div dnd-droppable (onDropSuccess)="addElement($event.dragData, elements)" [dropZones]="['add']" class="panel panel-default">
            <div class="panel-heading">Your site</div>
            <div class="panel-body">
                <div *ngFor="let el of elements; let i = index" dnd-draggable [dragEnabled]="true" [dragData]="el" [dropZones]="['add','trash']">
                    <DynamicComponent [componentTemplate]="el.element" [componentInputData]="el.inputData" [componentModules]="extraModules">
                    </DynamicComponent>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div class="panel-body">
                <div *ngFor="let el of availableElements; let i = index" dnd-draggable [dragEnabled]="true" [dragData]="el" [dropZones]="['add']">
                    <DynamicComponent [componentTemplate]="el.previous" [componentModules]="extraModules">
                    </DynamicComponent>
                </div>
            </div>
        </div>
        <div class="panel panel-default" dnd-droppable (onDropSuccess)="removeElement($event.dragData); log(index)" [dropZones]="['trash']">
            <div class="panel-body text-center">
                <img width="150" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQkBcVWdyEdwQRESMlraWji1HZqyMFnyBmmo9AraXbLV21yyIN1"
                />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">Your site</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading" dnd-droppable (onDropSuccess)="addElement($event.dragData); log(index)" [dropZones]="['add']"></div>
                    <div class="panel-body">
                        <div style="min-height: 20px" class="col-sm-6" dnd-droppable (onDropSuccess)="addElement($event.dragData); log(index)" [dropZones]="['add']">
                        </div>
                        <div style="min-height: 20px" class="col-sm-6" dnd-droppable (onDropSuccess)="addElement($event.dragData); log(index)" [dropZones]="['add']">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>