<button class="btn btn-success" (click)="save()"><i class="fa fa-save fa-fw"></i>
<span *ngIf="id"> Save</span>
<span *ngIf="!id"> Create</span>
</button>
<br/> 
<div class="row">
    <div id="Site" class="col-sm-9">
        <div dnd-droppable (onDropSuccess)="addElement($event.dragData, elements)"
             [dropZones]="['add']" class="panel panel-default">
            <div class="panel-heading">Your site</div>
            <div class="panel-body">
                <div dnd-sortable-container  [dropZones]="['trash']" [sortableData]="elements">
                    <div *ngFor="let el of elements; let i = index" [dragEnabled]="editable" dnd-sortable [sortableIndex]="i">
                        <DynamicComponent [componentTemplate]="el.element" [componentInputData]="el.inputData" [componentModules]="extraModules">
                        </DynamicComponent>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div class="panel-body">
                <div *ngFor="let el of availableElements; let i = index" dnd-draggable [dragData]="el" [dropZones]="['add']">
                    <DynamicComponent [componentTemplate]="el.previous" [componentModules]="extraModules">
                    </DynamicComponent>
                </div>
            </div>
        </div>
        <div class="panel panel-default" dnd-sortable-container [dropZones]="['trash']" [sortableData]="trash">
            <div class="panel-body text-center">
                <img style="max-width: 150px" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQkBcVWdyEdwQRESMlraWji1HZqyMFnyBmmo9AraXbLV21yyIN1"
                />
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">Your site</div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>-->


