<div *ngIf="isReady" class="row">
    <div id="Site" class="col-sm-9">
        <div dnd-droppable (onDropSuccess)="addElement($event.dragData, elements)" [dropZones]="['add']" class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3 col-sm-2 text-center">
                        <img [froalaEditor]="previewEditor" [(froalaModel)]="previewModel" style="max-width: 100px; max-height: 70px" />
                    </div>
                    <div class="col-xs-9 col-sm-10">
                        <button class="btn-link h4" style="color: black" [froalaEditor] [(froalaModel)]="nameModel"></button><br>
                        <span style="margin-left: 0.5em"><input type="checkbox" [(ngModel)]="page.commentsEnabled"> Add comments</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div dnd-sortable-container [dropZones]="['trash']" [sortableData]="elements">
                    <div *ngFor="let el of elements; let i = index" [dragEnabled]="editable" dnd-sortable [sortableIndex]="i">
                        <DynamicComponent [componentTemplate]="el.element" [componentInputData]="el.inputData" [componentModules]="extraModules">
                        </DynamicComponent>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Activity</div>
            <div class="panel-body">
                <div class="text-center">
                    <button class="btn btn-default" (click)="save()">
                        <i *ngIf="!loading" class="fa fa-save fa-fw"></i>
                        <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw"></i>
                        <span *ngIf="id"> Save</span>
                        <span *ngIf="!id"> Create</span>
                        <i *ngIf="failload" class="fa fa-times-circle text-danger"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div>
                <div class="panel-body">
                    <span *ngFor="let el of availableElements; let i = index" dnd-draggable [dragData]="el" [dropZones]="['add']">
                        <DynamicComponent [componentTemplate]="el.previous" [componentModules]="extraModules">
                        </DynamicComponent>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Trash</div>
            <div class="panel-body text-center" dnd-sortable-container [dropZones]="['trash']" [sortableData]="trash">
                <img style="max-width: 150px" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQkBcVWdyEdwQRESMlraWji1HZqyMFnyBmmo9AraXbLV21yyIN1"
                />
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">Your site</div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Available items</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>-->