<div [class.panel-primary]="editing" [class.panel-info]="!comment.id" class="panel panel-default" style="margin-bottom: 0.75em">
    <div class="panel-body">
        <div class="row" style="padding-bottom: 0.5em">
            <div class="col-xs-8">
                <span class="text-muted" *ngIf="!comment.id"><i class="fa fa-comment-o"></i> Add new comment</span>
                <a *ngIf="comment.id" class="user-name-link"><i class="fa fa-user"></i> {{ comment.userName }} </a>
            </div>
            <div class="col-xs-4 text-right">
                <div *ngIf="!comment.id">
                    <button (click)="onCreateComment()" class="btn btn-default btn-sm">
                        <i class="fa fa-check-circle fa-fw text-info"></i> Save 
                    </button>
                </div>

                <div *ngIf="comment.id && (canEdit || editing)">
                    <button *ngIf="!editing" (click)="startEditing()" class="btn btn-default btn-sm">
                        <i class="fa fa-pencil fa-fw"></i>
                    </button>
                    <button *ngIf="editing" (click)="onSaveChanges()" class="btn btn-default btn-sm">
                        <i class="fa fa-check-circle fa-fw text-info"></i> 
                    </button>
                    <button *ngIf="editing" (click)="refuseEditing()" class="btn btn-default btn-sm">
                        <i class="fa fa-times-circle fa-fw"></i>
                    </button>
                    <button (click)="onDelete()" class="btn btn-default btn-sm">
                        <i class="fa fa-trash-o fa-fw text-danger"></i>   
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="editing" [froalaEditor]="options" [(froalaModel)]="comment.content"></div>
        <div *ngIf="!editing" [froalaView]="comment.content"></div>
    </div>
</div>