<div class="thumbnail hover-blue text-center">
    <a [routerLink]="['/page', page.id]">
        <div style="height: 80px">
            <img [src]="page.preview" style="max-width: 100px; max-height: 70px; margin: 10px" />
        </div>
        <div class="truncate-2" style="padding: 5px; padding-top: 15px; padding-bottom: 0px; height: 50px">
            <i class="fa fa-book"></i><span class="page-name" style="font-size: 13px">&nbsp;{{ page.name }}</span>
        </div>
    </a>
    <div *ngIf="checkPermission()" style="padding: 5px; padding-top: 10px">
        <a [routerLink]="[ '/page-edit', page.id] " class="btn btn-default ">
                <i class="fa fa-pencil fa-fw "></i>
            </a>
        <button (click)="onDelete(page.id)" class="btn btn-default ">
                <i class="fa fa-trash-o fa-fw text-danger "></i>   
            </button>
    </div>
</div>