<div class="thumbnail hover-blue text-center" style="height: 180px">
    <a [routerLink]="['/page', page.id]">
        <div style="height: 80px">
            <img [src]="page.preview" style="max-width: 100px; max-height: 70px; margin: 10px" />
        </div>
        <div class="truncate-1" style="padding: 5px; padding-top: 15px">
            <i class="fa fa-book"></i><span class="page-name">&nbsp;{{ page.name }}</span>
        </div>
    </a>
    <div style="padding-top: 10px">
        <button *ngIf="checkPermission()" [routerLink]="['/page-edit', page.id]" class="btn btn-default">
                <i class="fa fa-pencil fa-fw"></i>
            </button>
        <button *ngIf="checkPermission()" (click)="onDelete(page.id)" class="btn btn-default">
                <i class="fa fa-trash-o fa-fw text-danger"></i>   
            </button>
    </div>
</div>