<div class="col-lg-3 col-md-4 col-sm-6 cols-xs-6" >
    <div class="thumbnail hover-blue" style="height: 150px">
        <a [routerLink]="['/page', page.id]">
            <div class="text-center">
                <div style="height: 80px">
                <img [src]="page.preview"
                            style="max-width: 100px; max-height: 70px; margin: 5px" />  
                </div>               
                <span class="text-muted">
                   {{ page.name || "Unnamed" }}
                </span>
            </div>
        </a>
        <p class="text-center">
            <button [routerLink]="['/page-edit', page.id]" class="btn btn-default">
                <i class="fa fa-pencil fa-fw"></i>
            </button>
            <button (click)="onDelete(page.id)"  class="btn btn-default">
                <i class="fa fa-trash-o fa-fw text-danger"></i>   
            </button>          
        </p>
    </div>
</div>
  