<div *ngIf="(site!=null)">
    <div class="form-group">
        <input type="hidden" class="form-control" id="id" value="{{ site.id }}">
    </div>
    <div class="form-group">
        <label for="tittle">Tittle:</label>
        <input type="text" class="form-control" id="tittle" value="{{ site.tittle }}">
    </div>
    <div class="form-group">
        <label for="tags">Tags:</label>
        <input type="text" class="form-control" id="tags" value="{{ site.tags }}">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" value="{{ site.description }}">
    </div>
    <button class="btn btn-default" (click)="submit()" >Submit</button>
</div>