<div *ngIf="(site)">
    <div class="form-group">
        <h2>{{site.name}}</h2>
    </div>
    <div class="form-group" *ngIf="site.tags">
        <div class="div-in-row" *ngFor="let tag of site.tags">
            <div (click)="deleteTag(tag)" class="tag-cloud tag-cloud-info">{{tag.name}}</div>
        </div>
    </div>
        <div class="row">
            <page-item  *ngFor="let page of site.pages" [page]="page" (delete)="onDelete($event)"></page-item>
        </div>
    <div>
        <button (click)="newPage()" class="btn btn-primary">Create</button>
    </div>
</div>