<div *ngIf="(site)">
    <div class="form-group">
        <h2>{{site.name}}</h2>
    </div>
    <div class="form-group" *ngIf="site.tags">
        <div class="div-in-row" *ngFor="let tag of site.tags">
            <div (click)="deleteTag(tag)" class="tag-cloud tag-cloud-info">{{tag.name}}</div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let page of site.pages" class="col-lg-2 col-md-2 col-sm-4 col-xs-6"  >
            <page-item [page]="page" (delete)="onDelete($event)"></page-item>
        </div>
    </div>
</div>