<div class="home-panel" style="background: #edfffc">
    <span class="home-header">Most commented pages</span>
    <div class="row" style="margin-right: -25px; margin-left: -25px;">
        <div *ngFor="let page of pages" class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail hover-blue text-center" style="height: 200px; margin: 20px">
                <a [routerLink]="['/page', page.id]">
                    <div style="height: 80px">
                        <img style="max-width: 100px; max-height: 70px; margin: 5px" [src]="page.preview" />
                    </div>
                    <div class="truncate-1" style="padding: 5px; padding-top: 15px">
                        <i class="fa fa-file-picture-o"></i><span class="page-name">&nbsp;{{ page.name }}</span>
                    </div>
                </a>
                <div class="truncate-1" style="padding: 5px; padding-top: 15px">
                    <i class="fa fa-sitemap"></i><span class="site-name">&nbsp;{{ page.siteName }}</span>
                </div>
                <div style="padding-top: 10px">
                    <span class="user-name truncate-1">By&nbsp;<a [routerLink]="['/pages']">{{ page.userName }}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>