<ul class="nav navbar-nav navbar-right">
    <li *ngIf="!account.loading" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>
            <span *ngIf="account.userName">&nbsp;{{ account.userName }}</span>
            <span *ngIf="!account.userName">&nbsp;Sign In</span>
            <b class="caret"></b>
        </a>
        <ul *ngIf="account.userName" class="dropdown-menu">
            <li>
                <a [routerLink]=""><i class="fa fa-user-md fa-fw"></i>&nbsp;Accout</a>
            </li>
            <li class="divider"></li>
            <li>
                <a [routerLink]="" (click)="logoff()"><i class="fa fa-power-off fa-fw"></i>&nbsp;Logout</a>
            </li>
        </ul>
        <ul *ngIf="!account.userName" class="dropdown-menu">
            <li>
                <a [routerLink]="" (click)="externalLogin('Twitter')">
                    <i class="fa fa-twitter fa-fw"></i>&nbsp;Twitter
                </a>
            </li>
            <li>
                <a [routerLink]="" (click)="externalLogin('Facebook')">
                    <i class="fa fa-facebook-f fa-fw"></i>&nbsp;Facebook
                </a>
            </li>
            <li>
                <a [routerLink]="" (click)="externalLogin('Vkontakte')">
                    <i class="fa fa-vk fa-fw"></i>&nbsp;Vkontakte
                </a>
            </li>
        </ul>
        <li *ngIf="account.loading" class="dropdown">
            <a [routerLink]="" class="dropdown-toggle"  data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i>
                <span>&nbsp;<i class="fa fa-spinner fa-pulse"></i></span>
            </a>
        </li>

</ul>