<div *ngIf="sites">


    <label for="sort">Sort</label>
    <select class="form-control"
            id="sort"
            [(ngModel)]="typeSort" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="sortBy()"
            name="sort">
        <option *ngFor="let ts of typesSort" [value]=ts.key>{{ts.value}}</option>
    </select>


    <div class="list-group">
        <div class="list-group-item" *ngFor="let site of sites | paginate: { itemsPerPage: 4, currentPage: p }">
            <site-item [site]="site"></site-item>
        </div>
        <div class="text-center" style="margin-top: 5px">
            <pagination-controls style="cursor:pointer" directionLinks="false" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
