<div *ngIf="sites">


    <label for="sort">{{l.Sort}}</label>
    <select class="form-control"
            id="sort"
            [(ngModel)]="typeSort" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="sortBy()"
            name="sort">
        <option [value]=0>{{l.SortByUserName}}</option>
        <option [value]=1>{{l.SortBySiteName}}</option>
        <option [value]=2>{{l.SortByDateCreated}}</option>
    </select>


    <div class="list-group" style="padding-top: 20px;">
        <div *ngFor="let site of sites | paginate: { itemsPerPage: 10, currentPage: p }">
            <site-item [site]="site"></site-item>
        </div>
        <div *ngIf="sites.length > 10" class="text-center" style="margin-top: 5px">
            <pagination-controls style="cursor:pointer; font-size: 20px" directionLinks="false" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
