<div *ngIf="sites">
    <div style="padding-left: 20px">
        <span class="site-name">
        <i class="fa fa-user fa-lg"></i>
        <button class="btn-link h4" style="color: black" [froalaEditor] [(froalaModel)]="nameModel"></button>
        </span>
        <button class="btn btn-link" style="margin-left: 5px; color: gray" (click)="updateName()"><i class="fa fa-save fa-lg"></i></button>
        &nbsp;<span class="text-danger">{{ invalidMsg }}</span>
    </div>
    <div class="row">
        <site-user-item *ngFor="let site of sites" [site]="site"></site-user-item>
    </div>
</div>
<div>
    <a *ngIf="checkPermission()" [routerLink]="['/site-create']" class="btn btn-primary">Create</a>
</div>